
<%- include('components/header') %>

<main class="container">
    <div id="welcomeMessageContainer">
        <div class="welcome-section text-center mt-5">
            <h1 class="display-4">Welcome to Harmony Hub</h1>
            <!-- Introduction Messages -->
            <p class="lead" style="color: blue; font-weight: bold;">Your Community Center for Technology, Education, and Community Engagement </p>
            <p class="lead" style="color: green; font-weight: bold;">Get ready to embark on a journey where technology meets humor, education takes center stage, and community engagement is not just a party—it's a fiesta! 🎈</p>
            <p class="lead" style="color: purple; font-weight: bold;">Where gadgets dance, education sparkles, and community engagement is the coolest party in town! 🎉🥳</p>
            <!-- Image -->
            <p>
                <img src="../../file/img.png" alt="Harmony Hub" style="max-width: 50%; height: 30%;">
            </p>
        </div>
    </div>
    <p id="welcomeMessage"></p>
    <!-- Main Content Sections -->


    <div class="featured-project">
        <h2>Explore Our Community Programs</h2>
        <p>
            Immerse yourself in the diverse range of community programs offered at Harmony Hub. From educational workshops to cultural events, we have something for everyone.
        </p>
    </div>

    <div class="featured-project">
        <h2>Upcoming Events and Workshops</h2>
        <p>
            Plan your participation in our upcoming events and workshops. Engage in insightful sessions and connect with fellow community members who share similar interests.
        </p>
    </div>

    <div class="featured-project">
        <h2>Meet Our Community Leaders</h2>
        <p>
            Get to know the passionate individuals leading various community projects at Harmony Hub. Discover how you can contribute and make a positive impact within our community.
        </p>
    </div>

    <div class="featured-project">
        <h2>Our Services</h2>
        <p>
            Harmony Hub offers a wide range of services to enhance your community experience. From tech support to skill-building workshops, we're here to make your journey with us delightful and enriching.
        </p>
    </div>

</main>

<%- include('components/footer') %>
