<%- include('components/header') %>

<main class="container">
  <!-- Blog Header -->
  <h1 class="mb-5">
      <i class="fa-solid fa-book"></i>
      My profile
  </h1>


  <button style="margin-bottom: 20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit
      Profile</button>


  <div id="user-container" class="mb-5"></div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="mb-3">
                          <label for="title" class="form-label">Phone Number</label>
                          <input type="text" class="form-control" id="user-phone-number" required>
                      </div>
                      <div class="mb-3">
                          <label for="description" class="form-label">Address</label>
                          <textarea class="form-control" id="user-address" required></textarea>
                      </div>
                  </form>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="click-me-to-add-user">Save changes</button>
              </div>
          </div>
      </div>
  </div>



</main>

<%- include('components/footer') %>
